/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/

html,
body {
	margin: 0;
	font-family: sans-serif;

}

.container {
	margin: 0 auto;
	width: 1170px;
}

.clear {
	clear: both;
	background-color: #87CEFA;
	height: 175px;
	padding: 30px;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
	margin: 0;
}

/********************************************
* Your CSS rules go down here
********************************************/
.title {
	background-color: #87CEFA;
	width: 100%;.
	margin: auto;
	padding: 1px 20%;
}

.instructions {
	border: 5px solid #C1C1C1;
	padding: 15px;
	margin: 30px;
}

.cats {
	margin: 30px;
}

.pull-left {
	float: left;
	border: 5px solid #E8E7E6;
	margin-right: 10px;
}

.clear {
	background-color: #87CEFA;
	height: 175px;
	padding: 20px;
	margin: 30px;

}

.pull-right {
	float: right;
	border: 5px solid #E8E7E6;
	margin-left: 10px;
}

.resistance {
	color: grey;
	background-color: black;
	width: 100%;
	height: 75px;
	font-size: 12px;
	padding-left: 22%
}